$colors:(
    to:#ffe227,
    do:#845ec2,
    list:#ff5e78,
    text:#314e52,
    bg:#e7e6e1,
    boxBg:#f7f6e7
);

@function color($colorname){
    @return map-get($colors, $colorname )
}

@keyframes showBorder {
    0%{
        border-bottom: 3px solid color(boxBg);

    }100%{
        border-bottom: 3px solid color(list);

    }
}

@keyframes changeButton {
    0%{
        background-color: color(boxBg);
        transform: scale(1);
        color: color(list);

    }75%{
        background-color: color(list);
        color: color(boxBg);
    }100%{
        transform: scale(1.05);

    }
}


$rad:10px;

html{
    font-size: 18px;
}

.app{
    &__header{
        display: flex;
        background-color: color(boxBg);
        height: 50px;

        &__logo{
            position: relative;
            bottom: 10px;
            margin-left:5%;
            font-family: 'Lobster', cursive;
            &__to{
                color: color(to);
            }
            &__do{
                color:color(do);
            }
            &__list{
                color:color(list);
            }

           
        }

        &__nav{
            display: flex;
            margin-left: 40%;
            margin-top: 10px;
            

            &__item{
                margin-left: 40px;
                width:80px;
                color: color(text);
                text-decoration: none;
                    

                    &__new{
                        text-decoration: none;
                        color: color(list);
                        font-weight: 600;
                        border:3px solid color(list);
                        border-radius: $rad;
                        padding: 5px;
                        text-align: center;
                        height: 20px;
                        width: 80px;
                        &:hover{
                            color: color(boxBg);
                            background-color: color(list);
                            transform: scale(1.05);

                            animation-name: changeButton;
                            animation-duration: 0.4s;
                            animation-timing-function: ease-in-out;
                        }

                    }
                   
                    
                
                &__my{
                    margin-top: 5px;
                    width: 80px;
                    border-bottom: 3px solid color(boxBg);
                    text-align: center;
                    &:hover{
                        border-bottom: 3px solid color(list);
                        animation-name: showBorder;
                        animation-duration: 0.5s;
                        animation-timing-function: ease-out;
                    }
                }
                &__help{
                    margin-top: 5px;
                    text-align: center;
                    width: 80px;
                    border-bottom: 3px solid color(boxBg);

                    &:hover{
                        border-bottom: 3px solid color(list);
                        animation-name: showBorder;
                        animation-duration: 0.5s;
                        animation-timing-function: ease-out;
                    }
                }
            }
        }
    }
}